html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#parent {
  border: solid rgba(0, 0, 0, 0.11);
  border-width: 0.1px;
  border-radius: 10px;
  margin: 0 !important;
  padding: 0 !important;
}

.inputt {
  width: 40px !important;
}
.textfont {
  font-size: calc(1.1vw + 8px);
}
.headfont {
  font-size: calc(1vw + 15px);
}
.headfontfoodcard {
  font-size: 15px;
}
.textfontfoodcard {
  font-size: 11px;
}

.border {
  border: solid rgba(0, 0, 0, 0.11);
  border-width: 0.1px;
  border-radius: 5px;
}

@media (min-width: 992px) {
  #factor {
    float: right;
    position: absolute;
    top: 57px;
    left: 62%;
  }
}
@media (min-width: 390px) {
  .textfontfoodcard {
    font-size: 18px;
  }
  .headfontfoodcard {
    font-size: 23px;
  }
}
.nvbr1 {
  margin-right: 7vw !important ;
}
.nvbr2 {
  margin-left: 7vw;
}
.pizzaimg {
  width: fit-content !important;
  block-size: fit-content !important;
}

* {
  padding: 0;
  margin: 0;
}
.pic {
  width: 480px;
  height: 630px;
  box-shadow: rgb(41, 41, 65);
  filter: brightness(0.6);
}
.picloc {
  margin-left: 20vw;
  margin-top: 50px;
  box-shadow: rgb(41, 41, 65);
  border-radius: 2px;
  overflow: hidden;
}
.welcome {
  position: absolute;
  margin-top: -400px;
  margin-left: 68vw;
}
.ordr {
  position: absolute;
  margin-top: -500px;
  margin-left: 1000px;
}
.brand {
  left: 90%;
  top: 5px;
}
.lnk {
  left: 87%;
  top: 12px;
}
.changeinputs {
  margin-left: 20vw;
}
@media (max-width: 1024px) {
  .picloc {
    margin-left: 5vw;
    margin-top: 50px;
  }
  .pic {
    width: 450px;
    height: 600px;
  }
  .welcome {
    position: absolute;
    margin-top: -400px;
    margin-left: 65vw;
  }
  .brand {
    left: 90%;
    top: 5px;
  }
  .lnk {
    left: 83%;
    top: 12px;
  }
}
@media (max-width: 768px) {
  .picloc {
    margin-left: 5vw;
    margin-top: 50px;
    box-shadow: #21212d;
    overflow: hidden;
    border-radius: 2px;
  }
  .pic {
    width: 90vw;
    height: 120vw;
    box-shadow: #21212d;
    filter: brightness(0.4);
  }
  .welcome {
    margin-top: -80vw;
    margin-left: 33vw;
    color: aliceblue;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .welcome {
    margin-top: -80vw;
    margin-left: 30vw;
    color: aliceblue;
    text-align: center;
  }
  .brand {
    left: 90%;
    top: 5px;
  }
  .lnk {
    left: 80%;
    top: 12px;
  }
}
@media (max-width: 508px) {
  .welcome {
    margin-top: -80vw;
    margin-left: 26vw;
    color: aliceblue;
    text-align: center !important;
  }
}
@media (max-width: 425px) {
  .picloc {
    overflow: hidden;
    margin: 0;
    margin-top: 50px;
  }
  .pic {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 120vw;

    filter: brightness(0.4);
  }
  .welcome {
    margin-top: -80vw;
    margin-left: 24vw;
    color: aliceblue;
  }
}
@media (max-width: 376px) {
  .welcome {
    margin-top: -80vw;
    margin-left: 20vw;
    color: aliceblue;
  }
  .brand {
    left: 90%;
    top: 5px;
  }
  .lnk {
    left: 80%;
    top: 12px;
  }
}

@media (max-width: 330px) {
  .welcome {
    margin-top: -80vw;
    margin-left: 17vw;
    color: aliceblue;
  }
}
.tggl {
  outline: none !important;
  border: none !important;

  box-shadow: none !important;
}
.inputfocus:focus {
  border-color: #00000052 !important;
  transition-duration: 0.8;
  -moz-transition-duration: 0.8s;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loadersvg {
  background-color: rgba(14, 13, 13, 0.342);
  border-radius: 10px;
}
.eyesize {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.deleteIcon {
  color: red !important;
  cursor: pointer;
}
